*{
    font-family: 'Arial';
}
header{
    display: flex;
    flex-direction: column;
}

.logo-nav{
    margin-top: -30px;
}
.list-nav{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 28%;
}
.list-nav a{
    text-decoration: none;
    color: rgb(3, 86, 3);
}
.list-nav a:hover{
    color: lightgreen;
}
.list-nav li{
list-style: none;
margin-top: -11.5%;
font-weight: 300;
}
.hero{
margin-top: -40px;
padding-bottom: 1%;
border: 4px solid darkgreen;
border-radius: 12px;
}
.user-pic{
    position: absolute;
    margin-top: -150px;
    margin-left: 92%;
}
.user-pic:hover{
cursor: pointer;
border: 3px solid green;
border-radius: 30px;
}

.hero-1{
margin-top: 10px;
}

.hero-txt1{
    position: relative;
    margin-left: 10%;
    margin-top: 10%;
    font-weight: bold
}

.hero-btn{
position: absolute;
margin-top: -280px;
margin-left: 15%;
padding: 30px;
color: white;
font-weight: bolder;
font-size: large;
background-color: rgb(21, 137, 21);
border: none;
border-radius: 50px;
width: 200px;
}

.hero-btn:hover{
cursor: pointer;
background-color: rgb(9, 61, 9);
}

.hero-p{
    position: absolute;
    margin-left: 130px;
    margin-top: -140px;
} 
.user-pic-desc{
    position: absolute;
    margin-left: 84%;
    margin-top: 50px;
    color: rgb(3, 86, 3);
}

.second-hero{
    padding-bottom: 50px;
}