.login_form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid rgb(0,128,0);
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.login_form label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 2%;
}
.login_form input{
    width: 100%;
    padding: 5% 2% 5% 2%;
    margin-top: 2%;
    margin-bottom: 10%;
    border: 1px solid #888;
    border-radius: 5px;
}
.login_form button{
    padding: 30px;
    color: white;
    font-weight: bolder;
    font-size: large;
    background-color: rgb(21, 137, 21);
    border: none;
    border-radius: 50px;
    width: 200px;
    display: block;
    margin: 15px auto 0;
}
.login_form button:hover{
    cursor: pointer;
    background-color: rgb(9, 61, 9);
}
.list-nav-login{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 28%;
}
.list-nav-login a{
    text-decoration: none;
    color: rgb(3, 86, 3);
}
.list-nav-login a:hover{
    color: lightgreen;
}
.list-nav-login li{
list-style: none;
margin-top: -11.5%;
font-weight: 300;
}